<table class='table table-bordered'>
    <tr>
        <td>
            <h1>Keep</h1><%= keepContent %>
        </td>
        <td rowspan="2">
            <h1>Try</h1><%= tryContent %>
        </td>
    </tr>
    <tr>
        <td><h1>Problem</h1><%= problemContent %></td>
    </tr>
</table>
