<h1><%= title %></h1>
<table>
    <tr>
        <td class="currentStatus">
            <h4>CURRENT STATUS</h4>
            <%= currentStatus %>
        </td>
        <td class="leaned">
            <h4>LAST WEEK'S LESSON LEARNED (AND ACCOMPLISHMENTS)</h4>
            <%= learned %>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <h4>TOP PROBLEMS</h4>
            <%= problems %>
        </td>
    </tr>
</table>
