<h2><%= title %></h2>
<table>
    <tr>
        <td class="solutions">
            <h4>HYPOTHESIZED SOLUTIONS</h4>
            <%= solutions %>
        </td>
        <td class="metrics">
            <h4>METRICS / PROOF + GOALS</h4>
            <%= metrics %>
        </td>
    </tr>
</table>
